{% extends 'base.html' %}

{% block content %}

<h1> THis is  {{title}} page</h1>
<!--<img src="images/loo.jpeg">-->
{% load static %}
<!--<img src="{% static 'temp/foo1.jpeg' %}" alt="one">-->
<a  href="/temp/{{markers}}/details/">{{order.id}}
<img id="A" src="{% static 'images/temp/loo.jpeg' %}" alt="two">
</a>
{% if orders %}
<ul>
    {% for order in orders %}
    <li>
        <a  href="/temp/{{order.id}}/details/">{{order.id}}</a>
        <button type="button" class="btn btn-success" >get</button>
    </li>
    {% endfor%}
</ul>


{% endif %}

{% endblock content %}
